{% extends "base_public.html" %}
{%block title%} Home {%endblock%}
{%block body%}

<!--Whole Container -->
<div class="rca-container rca-margin">
  <!--Widget Outer-->
  {%include "recent_season.html"%}

  {%for smart_card in smart_cards%}
    {%if smart_card.status == 'completed' %}
      {%include "match_completed_box.html"%}
    {%elif smart_card.status == 'started' %}
      {% include "match_start_box.html" %}
    {%else%}
      {%include "match_before_start_box.html"%}
    {%endif%}
  {%endfor%}

</div>
{%endblock%}