{% extends "base_public.html" %}
{%block title%} Home {%endblock%}
{%block body%}

<!--Whole Container -->
<div class="rca-container rca-margin">
  <!--Widget Outer-->
  {%include "recent_season.html"%}

  <!--Widget Outer-->
  <div class="rca-row">
    <!--Widget Inner -->
    {% for match in started_matches %}
      <div class="rca-column-3">
        <div class="rca-menu-widget rca-live-season rca-left-border">
          <a href="#" class="rca-padding">
            <span class="rca-match-title rca-live-text">{{match.short_name}} : </span><span class="rca-match-score">{{match.now.runs_str}}</span>
            <span class="rca-live-label rca-right">Live</span>
          </a>
        </div>
      </div>
    {% empty %}
      <div class="rca-column-3">
        <div class="rca-menu-widget rca-live-season rca-left-border">
          <a href="#" class="rca-padding">
            No Live Match Now
          </a>
        </div>
      </div>
    {%endfor%}

    {% for match in not_started_matches %}
      <div class="rca-column-3">
        <div class="rca-menu-widget rca-left-border">
          <a href="#" class="rca-padding">
            <span class="rca-match-title">{{match.short_name}} : </span><span class="rca-match-score">{{match.start_date.str}}</span><span class="rca-live-label rca-right">No started</span>
          </a>
        </div>
      </div>
    {%endfor%}

    {% for match in completed_matches %}
      <div class="rca-column-3">
        <div class="rca-menu-widget rca-left-border">
          <a href="#" class="rca-padding">
            <span class="rca-match-title">{{match.short_name}} : </span><span class="rca-match-score">{{match.msgs.completed}}</span> <span class="rca-live-label rca-right">Completed</span>
          </a>
        </div>
      </div>
    {%endfor%}
  </div>

  <!--Widget Outer-->
  <div class="rca-row">
    <!--Widget Inner -->
    <div class="rca-column-3">
      <!--Match Series-->
      <div class="rca-mini-widget rca-top-border rca-match-series">
        <h2 class="rca-match-title">
          <a href="#">
            Bangaladesh vs Zimbabwe 2016
          </a>
        </h2>
        <div class="rca-content-padding">
          <div class="rca-match-detail">
            <h3 class="rca-match-title">
              <a href="#">
                Bangaladesh vs Zimbabwe
              </a>
            </h3>
            <p class="rca-match-schedule">Sun, 31 Jan 2:10 pm IST</p>
          </div>
          <div class="rca-match-detail">
            <h3 class="rca-match-title">
              <a href="#">
                Bangaladesh vs Zimbabwe
              </a>
            </h3>
            <p class="rca-match-schedule">Sun, 31 Jan 2:10 pm IST</p>
          </div>
          <div class="rca-match-detail">
            <h3 class="rca-match-title">
              <a href="#">
                Bangaladesh vs Zimbabwe
              </a>
            </h3>
            <p class="rca-match-schedule">Sun, 31 Jan 2:10 pm IST</p>
          </div>
        </div>
      </div>
    </div>

    <!--Widget Inner -->
    <div class="rca-column-3">
      <!--Match Series-->
      <div class="rca-mini-widget rca-top-border ">
        <ul class="rca-tab-list">
          <li class="rca-tab-link" data-tab="tab-1" onclick="showTab(this);">Live</li>
          <li class="rca-tab-link" data-tab="tab-2" onclick="showTab(this);">Results</li>
          <li class="rca-tab-link active" data-tab="tab-3" onclick="showTab(this);">Starts In</li>
        </ul>
        <div id="tab-1" class="rca-padding rca-tab-content active">
          <div class="rca-inside-tab">
            <h2 data-tab="inside-tab1" onclick="showBlock(this);">BAN vs IND
              <i class="fa fa-angle-down"></i>
            </h2>
            <div class="rca-inside-content">
              <div class="rca-match-detail rca-padding">
                <h3 class="rca-match-title">
                  <a href="#">BAN vs ZIM</a>
                  <span class="rca-match-info rca-right">
                    2nd T20 Match
                  </span>
                </h3>
                <p class="rca-duration">Start in 21hrs</p>
                <p class="rca-match-schedule">Sun, 31 Jan 2:10 pm IST</p>
              </div>
              <div class="rca-match-detail rca-padding">
                <h3 class="rca-match-title">
                  <a href="#">BAN vs ZIM</a>
                  <span class="rca-match-info rca-right">
                    2nd T20 Match
                  </span>
                </h3>
                <p class="rca-duration">Start in 21hrs</p>
                <p class="rca-match-schedule">Sun, 31 Jan 2:10 pm IST</p>
              </div>
            </div>

          </div>
          <div class="rca-inside-tab active">
            <h2 data-tab="inside-tab1" onclick="showBlock(this);">BAN vs IND
              <i class="fa fa-angle-up"></i>
            </h2>
            <div class="rca-inside-content">
              <div class="rca-match-detail rca-padding">
                <h3 class="rca-match-title">
                  <a href="#">BAN vs ZIM</a>
                  <span class="rca-match-info rca-right">
                    2nd T20 Match
                  </span>
                </h3>
                <p class="rca-duration">Start in 21hrs</p>
                <p class="rca-match-schedule">Sun, 31 Jan 2:10 pm IST</p>
              </div>
              <div class="rca-match-detail rca-padding">
                <h3 class="rca-match-title">
                  <a href="#">BAN vs ZIM</a>
                  <span class="rca-match-info rca-right">
                    2nd T20 Match
                  </span>
                </h3>
                <p class="rca-duration">Start in 21hrs</p>
                <p class="rca-match-schedule">Sun, 31 Jan 2:10 pm IST</p>
              </div>
            </div>

          </div>
        </div>
        <div id="tab-2" class="rca-padding rca-tab-content">
          
        </div>
      </div>
    </div>

    <!--Widget Inner -->
    <div class="rca-column-3">
      <!--Match Series-->
      <div class="rca-mini-widget rca-top-border  rca-tab-simple">
        <ul class="rca-tab-list">
          <li class="rca-tab-link active" data-tab="tab-1">Live</li>
          <li class="rca-tab-link" data-tab="tab-2">Results</li>
          <li class="rca-tab-link" data-tab="tab-3">Starts In</li>
        </ul>
        <div id="tab-1" class="rca-padding rca-tab-content active">
          <div class="rca-match-detail rca-padding">
            <h3 class="rca-match-title">
              <a href="#">BAN vs ZIM</a>
              <span class="rca-match-info rca-right">
                2nd T20 Match
              </span>
            </h3>
            <p class="rca-duration">Start in 21hrs</p>
            <p class="rca-match-schedule">Sun, 31 Jan 2:10 pm IST</p>
          </div>
          <div class="rca-match-detail rca-padding">
            <h3 class="rca-match-title">
              <a href="#">BAN vs ZIM</a>
              <span class="rca-match-info rca-right">
                2nd T20 Match
              </span>
            </h3>
            <p class="rca-duration">Start in 21hrs</p>
            <p class="rca-match-schedule">Sun, 31 Jan 2:10 pm IST</p>
          </div>
        </div>
        <div id="tab-2" class="rca-padding rca-tab-content">
          
        </div>
      </div>
    </div>
  </div>
  <div class="rca-row">
    <!--Widget Inner -->
    <div class="rca-column-3">
      <!--Match Series-->
      <div class="rca-mini-widget rca-top-border  rca-tab-simple">
        <ul class="rca-tab-list">
          <li class="rca-tab-link active" data-tab="tab-1">Live</li>
          <li class="rca-tab-link" data-tab="tab-2">Results</li>
          <li class="rca-tab-link" data-tab="tab-3">Starts In</li>
        </ul>
        <div id="tab-1" class="rca-padding rca-tab-content active">              
          <div class="rca-padding">
            <h3 class="rca-match-title">
              IND: 173/2 in 18.5
              <span class="rca-live-label rca-right">IND vs NZL</span>
            </h3>
            <p class="rca-match-info">
              <span>IND: 16/1 in 1.0</span>
              <span>CRR:4.1</span>
              <span>Req RR:10.1</span>
            </p>
            <div class="rca-top-padding">
              <div class="rca-batsman striker">
                <span class="player">V Kohli</span>
                <span>48(27)</span>
              </div>
              <div class="rca-batsman">
                <span class="player">MS Dhoni</span>
                <span>14(8)</span>
              </div>
            </div>
            <div class="rca-ball-detail">
              <div class="rca-match-schedule">
                Over: 24
              </div>
              <ul class="rca-ball-by">
                <li class="rca-six">6</li>
                <li class="">1wd</li>
                <li class="rca-wicket">w</li>
                <li class="">1</li>
                <li class="">2</li>
                <li class="rca-six">4</li>
              </ul>
            </div>
          </div>
          <div class="rca-top-padding rca-score-status">
            <div class="rca-status-scroll">
              FOUR!!! from Dhoni
            </div>
            <ul class="rca-bullet-list">
              <li class="active" data-tab="#status1"></li>
              <li data-tab="#status2"></li>
              <li data-tab="#status3"></li>
            </ul>
          </div>
        </div>
        <div id="tab-2" class="rca-padding rca-tab-content">
          
        </div>
      </div>
    </div>
  </div>


  <div class="rca-row rca-schedule-widget">
    <!--Widget Inner -->
    <h2>INTERNATIONAL CRICKET SCHEDULES</h2>
    <div class="rca-schedule-top">
      <span>February 2016</span>
      <span class="rca-right">
        <a class="active" href="#">
          <span>MONTH</span>
        </a>
        <a class="" href="#">
          <span>LIST</span>
        </a>
      </span>
    </div>
    <!--Match Monthly Schedule-->
    <div class="rca-mini-widget rca-top-border">
      <ul class="rca-tab-list">
        <li class="rca-tab-link" data-tab="tab-1" onclick="showTab(this);">Jan"16</li>
        <li class="rca-tab-link" data-tab="tab-2" onclick="showTab(this);">Feb"16</li>
        <li class="rca-tab-link active" data-tab="tab-3" onclick="showTab(this);">Mar"16</li>
      </ul>
      <div id="tab-1" class="rca-padding rca-tab-content active">
        <div class="rca-schedule-date">
          <h4>3rd Feb - Wednesday</h4>
          <div class="rca-schedule-detail rca-test">
            <h2>
              <a href="#">
                <span class="rca-team">NZ vs AUS</span><span class="rca-match-time">06.30 AM</span>
              </a>
            </h2>
            <p>1st ODI Match -  Eden Park, Auckland, New Zealand</p>
          </div>
          <div class="rca-schedule-detail rca-odi">
            <h2>
              <a href="#">
                <span class="rca-team">NZ vs AUS</span><span class="rca-match-time">06.30 AM</span>
              </a>
            </h2>
            <p>1st ODI Match -  Eden Park, Auckland, New Zealand</p>
          </div>
          <div class="rca-schedule-detail rca-t20">
            <h2>
              <a href="#">
                <span class="rca-team">NZ vs AUS</span><span class="rca-match-time">06.30 AM</span>
              </a>
            </h2>
            <p>1st ODI Match -  Eden Park, Auckland, New Zealand</p>
          </div>
        </div>
        <div class="rca-schedule-date">
          <h4>3rd Feb - Wednesday</h4>
          <div class="rca-schedule-detail rca-test">
            <h2>
              <a href="#">
                <span class="rca-team">NZ vs AUS</span><span class="rca-match-time">06.30 AM</span>
              </a>
            </h2>
            <p>1st ODI Match -  Eden Park, Auckland, New Zealand</p>
          </div>
          <div class="rca-schedule-detail rca-odi">
            <h2>
              <a href="#">
                <span class="rca-team">NZ vs AUS</span><span class="rca-match-time">06.30 AM</span>
              </a>
            </h2>
            <p>1st ODI Match -  Eden Park, Auckland, New Zealand</p>
          </div>
          <div class="rca-schedule-detail rca-t20">
            <h2>
              <a href="#">
                <span class="rca-team">NZ vs AUS</span><span class="rca-match-time">06.30 AM</span>
              </a>
            </h2>
            <p>1st ODI Match -  Eden Park, Auckland, New Zealand</p>
          </div>
        </div>  
      </div>
      <div id="tab-2" class="rca-padding rca-tab-content">
        
      </div>
    </div>
    <!--Match Complete SChedule-->
    <!--Match Schedule-->
      <div class="rca-mini-widget rca-top-border">
        <ul class="rca-tab-list">
          <li class="rca-tab-link" data-tab="tab-1" onclick="showTab(this);">Jan</li>
          <li class="rca-tab-link" data-tab="tab-2" onclick="showTab(this);">Feb</li>
          <li class="rca-tab-link active" data-tab="tab-2" onclick="showTab(this);">Mar</li>
          <li class="rca-tab-link" data-tab="tab-2" onclick="showTab(this);">Apr</li>
          <li class="rca-tab-link" data-tab="tab-2" onclick="showTab(this);">May</li>
          <li class="rca-tab-link" data-tab="tab-2" onclick="showTab(this);">Jun</li>
          <li class="rca-tab-link" data-tab="tab-2" onclick="showTab(this);">Jul</li>
          <li class="rca-tab-link" data-tab="tab-2" onclick="showTab(this);">Aug</li>
          <li class="rca-tab-link" data-tab="tab-2" onclick="showTab(this);">Sep</li>
          <li class="rca-tab-link" data-tab="tab-2" onclick="showTab(this);">Oct</li>
          <li class="rca-tab-link" data-tab="tab-2" onclick="showTab(this);">Nov</li>
          <li class="rca-tab-link" data-tab="tab-2" onclick="showTab(this);">Dec</li>
        </ul>
        <div id="tab-1" class="rca-tab-content active">
          <div class="rca-day-calendar">
            <div class="rca-row">
              <div class="rca-week-day-header">
                SUN
              </div>
              <div class="rca-week-day-header">
                MON
              </div>
              <div class="rca-week-day-header">
                TUE
              </div>
              <div class="rca-week-day-header">
                WED
              </div>
              <div class="rca-week-day-header">
                THU
              </div>
              <div class="rca-week-day-header">
                FRI
              </div>
              <div class="rca-week-day-header">
                SAT
              </div>
            </div>
            <div class="rca-row">
              <div class="rca-week-day">
                <div class="rca-index">31</div>
                <div class="rca-schedule-detail rca-test">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <div class="rca-schedule-detail rca-odi">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <div class="rca-schedule-detail rca-t20">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <a href="#">More..</a>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">3</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">3</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">3</div>
                <div class="rca-schedule-detail rca-test">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <div class="rca-schedule-detail rca-odi">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <div class="rca-schedule-detail rca-t20">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <a href="#">More..</a>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">4</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">5</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">6</div>
              </div>
            </div>
            <div class="rca-row">
              <div class="rca-week-day">
                <div class="rca-index">7</div> 
                <div class="rca-schedule-detail rca-test">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <div class="rca-schedule-detail rca-odi">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <div class="rca-schedule-detail rca-t20">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <a href="#">More..</a>                   
              </div>
              <div class="rca-week-day">
                <div class="rca-index">8</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">9</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">10</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">11</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">12</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">13</div>
              </div>
            </div>
            <div class="rca-row">
              <div class="rca-week-day">
                <div class="rca-index">14</div>                    
              </div>
              <div class="rca-week-day">
                <div class="rca-index">15</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">16</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">17</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">18</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">19</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">20</div>
                <div class="rca-schedule-detail rca-test">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <div class="rca-schedule-detail rca-odi">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <div class="rca-schedule-detail rca-t20">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <a href="#">More..</a>
              </div>
            </div>
            <div class="rca-row">
              <div class="rca-week-day">
                <div class="rca-index">21</div>                    
              </div>
              <div class="rca-week-day">
                <div class="rca-index">22</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">23</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">24</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">25</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">26</div>
                <div class="rca-schedule-detail rca-test">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <div class="rca-schedule-detail rca-odi">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <div class="rca-schedule-detail rca-t20">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <a href="#">More..</a>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">27</div>
              </div>
            </div>
            <div class="rca-row">
              <div class="rca-week-day">
                <div class="rca-index">28</div>                    
              </div>
              <div class="rca-week-day">
                <div class="rca-index">29</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">30</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">31</div>
                <div class="rca-schedule-detail rca-test">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <div class="rca-schedule-detail rca-odi">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <div class="rca-schedule-detail rca-t20">
                  <h2>
                    <a href="#">
                      <span class="rca-match-time">06.30 AM</span><span class="rca-team">NZ vs AUS</span>
                    </a>
                  </h2>
                </div>
                <a href="#">More..</a>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">1</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">2</div>
              </div>
              <div class="rca-week-day">
                <div class="rca-index">3</div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-2" class="rca-padding rca-tab-content">
          
        </div>
      </div>
  </div>
</div>
{%endblock%}