<div class="rca-column-6">
  <a href="/match/{{smart_card.key}}/">
    <div class="rca-medium-widget rca-padding rca-completed-match rca-top-border">
      <div class="rca-right rca-basic-text">{{ smart_card.start_date_obj|date:"jS M Y"}}</div>
      <div class="rca-clear"></div>
      <div class="rca-padding">       
        <h3 class="rca-match-title rca-theme-text">
          {{smart_card.short_name}}
        </h3>
        <p class="rca-match-info">
          <span>{{smart_card.related_name}}</span>
        </p>
        <div class="rca-top-padding">
          <div class="rca-teams rca-table">
            <span class="team rca-cell">{{smart_card.team_a_name}}</span>
            <span class="rca-vs rca-cell"></span>
            <span class="team rca-cell">{{smart_card.team_b_name}}</span>
          </div>
        </div>
        <div class="rca-match-start">
          <h3>Starts in</h3>
          <div class="rca-padding">
            <h2>{{smart_card.datetime_obj|timeuntil:smart_card.now}}</h2>                  
            <p class="rca-center">
              {{ smart_card.start_date_obj|date:"D jS M Y"}}, {{smart_card.start_date_obj|time:"g:i A"|lower}} (GMT)
            </p>
          </div>
        </div>
      </div>      
    </div>
  </a>
</div>
