<div class="rca-column-6">
      <!--Match Series-->
      <div class="rca-medium-widget rca-top-border ">
        <ul class="rca-tab-list">
          <li class="rca-tab-link active" data-tab="tab-1" onclick="showTab(this);">SCORECARD</li>
          <li class="rca-tab-link" data-tab="tab-2" onclick="showTab(this);">SQUAD</li>
        </ul>
        <div id="tab-1" class="rca-tab-content rca-padding active">
          <div class="rca-padding">                
            <div class="rca-switch filled">
              <span class="active">{{teams.a.name}}</span><span>{{teams.b.name}}</span>
            </div>
          </div>
          <div class="rca-batting-score rca-padding">
          {%for player in playing_11_a_obj %}
            <div class="rca-player-detail">
              <span class="rca-player">{{player.name}}</span>
              {% if player.is_captain %}
                <span class="rca-highlight-text">(C) & (WK)</span>
              {%endif%}
              <span class="rca-right rca-basic-text">Batsman</span>
            </div>
          {% endfor %} 
            <div class="rca-player-detail">
              <span class="rca-player">Suresh Raina</span>
              <span class="rca-right rca-basic-text">All rounder</span>
            </div>
          </div>
          <div class="rca-batting-score rca-padding">
            <h3>Bench (9)</h3>
            <div class="rca-player-detail">
              <span class="rca-player">Rohit Sharma</span>
              <span class="rca-highlight-text">(WK)</span>
              <span class="rca-right rca-basic-text">Batsman</span>
            </div>
            <div class="rca-player-detail">
              <span class="rca-player">Rohit Sharma</span>
              <span class="rca-right rca-basic-text">Batsman</span>
            </div>
            <div class="rca-player-detail">
              <span class="rca-player">Rohit Sharma</span>
              <span class="rca-right rca-basic-text">Batsman</span>
            </div>
            <div class="rca-player-detail">
              <span class="rca-player">Rohit Sharma</span>
              <span class="rca-right rca-basic-text">Batsman</span>
            </div>
          </div>
        </div>
        <div id="tab-2" class="rca-padding rca-tab-content">
          
        </div>
      </div>