<div class="rca-column-6">
  <!--Match Series-->
  <a href="/match/{{smart_card.key}}/">
    <div class="rca-medium-widget rca-padding rca-completed-match rca-top-border">
      <div class="rca-right rca-basic-text">{{smart_card.start_date_obj|date:"jS M Y"}}</div>
      <div class="rca-clear"></div>
      <div class="rca-padding">       
        <h3 class="rca-match-title rca-theme-text">
          {{smart_card.completed_msg}}
        </h3>
        <p class="rca-match-info">
          <span>{{smart_card.related_name}}</span>
        </p>
        <div class="rca-top-padding">
          <div class="rca-team-score">
            <span class="team">{{smart_card.team_a_name}}</span>
            <span>{{smart_card.team_a_run_str}}</span>
          </div>
          <div class="rca-team-score">
            <span class="team">{{smart_card.team_b_name}}</span>
            <span>{{smart_card.team_b_run_str}}</span>
          </div>
        </div>

        {%if smart_card.mom_key %}
          <div class="rca-man-match">
            <h3>Man of the Match <span>{{smart_card.mom_name}}</span></h3>
            <div class="rca-padding">
              
              <p class="rca-man-match-record"><span class="title">Runs</span>
                <span>{{smart_card.mom_runs}}</span>
              </p>
               <p class="rca-man-match-record"><span class="title">Boundaries</span>
                <span>{{smart_card.mom_boundries}}</span>
              </p>

              <p class="rca-man-match-record"><span class="title">Wickets</span>
                <span>{{smart_card.mom_wickets}}</span>
              </p>
            </div>
          </div>
        {%endif%}
      </div>      
    </div>
  </a>
</div>
