body {
	background-color: $body-color;
	font-family: "Lato", Verdana, Helvetica, sans-serif;
	font-size: 14px;
	color: $text-color;	
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div{
	overflow: hidden;
}
.rca-container{
	width: 100%;
    max-width: 1045px;
    padding: 0px;
    margin: 0 auto;
}
.rca-margin{
	margin-top: 50px;
	margin-bottom: 50px;
}
p{
	margin: 0px;
}
a{
	color: $text-color;
	text-decoration: none;
	&:hover, &:focus{
		color: $theme-color;
		text-decoration: none;
	}
}
ul{
	padding: 0px;
	list-style: none;
	margin: 0px;
}
button{
	background: none;
	box-shadow: none;
	border: none;
	outline: none;
}
.rca-row{
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
}
.rca-column-3{
	float:left;
	width: 32.5%;
	margin-right: 1%;
	&:last-child{
		margin-right: 0;
	}
}
.rca-column-6{
	float:left;
	width: 48.5%;
	margin-right: 1%;
	&:last-child{
		margin-right: 0;
	}
}

.rca-menu-widget{
	min-width: 300px;
	max-width: 100%;
	height: 50px;
	background-color: #fff;
	margin: 10px 0px;
}
.rca-mini-widget{
	min-width: 300px;
	max-width: 100%;
	min-height: 360px;
	background-color: #fff;
	margin: 10px 0px;
}
.rca-medium-widget{
	min-width: 350px;
	max-width: 100%;
	min-height: 425px;
	background-color: #fff;
	margin: 10px 0px;
}
.rca-right{
	float: right;
}
.rca-clear{
	clear: both;
}
.rca-live-text{
	color: $live-info;
}
.rca-theme-text{
	color: $theme-color;
}
.rca-basic-text{
	color: $basic-info;
}
.rca-highlight-text{
	color: $highlight-info;
}
.rca-center{
	text-align: center;
}
.rca-vs{
	&:before{
		border-radius: 50%;
	    background-color: #1eb848;
	    color: #fff;
	    width: 30px;
	    height: 30px;
	    display: inline-block;
	    font-size: 16px;
	    vertical-align: middle;
	    content: "vs";
        line-height: 28px;
	}
}