$theme-color: #1eb848;
$text-color: #4d4d4d;
$tab-text: #fff;
$secondary-info: #7d7d7d;
$basic-info: #b3b3b3;
$highlight-info: #f9690e;
$body-color: #E6E6E6;
$widget-background: #fff;
$live-info: #d91e18;
$test-color: #D1F1DA;
$odi-color: #FEE1CF;
$t20-color: #DDF4FA;
